body{

    background-image: url("../images/background.avif");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    background-attachment: fixed;

}
.card{
    box-shadow:10px 40px 40px rgba(0,0,0,0.35);
    margin-bottom: 40px;
}
.sidebar{
    background:linear-gradient(to bottom,rgb(168, 215, 187),rgb(24, 187, 35)) ;

}
.main-card{
    background-color: rgb(50, 203, 152);
}